<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Aplicação_Igreja.Properties.Settings.bancoCapelaConnectionString"
            connectionString="Data Source=DESKTOP-Q7U0TS0\MSSQLSERVER01;Initial Catalog=bancoCapela;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>